body {
    background-color: black;
    color: red;
    font-family: "Caprasimo", serif;

}

header{
    font-size: 50px;
    border-bottom: double 5px red;
    padding: 50px;
    text-align: center;
    color: red;
}
h1 {
    font-size: 30px;
}
p{
    font-size: 20px;
}
.chamada {
    background-color: azure;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 30px;
}
img{
    width: 300px;
    height: 200px;
}